{% extends 'base.html.twig' %}

{% block title %}New Numero{% endblock %}

{% block body %}
    <h1>Create new Numero</h1>

    {{ include('numero/_form.html.twig') }}

    <a href="{{ path('numero_index') }}">back to list</a>
{% endblock %}
