@import "vars";

@import "../../vendor/uikit/uikit/src/scss/variables-theme.scss";
@import "../../vendor/uikit/uikit/src/scss/mixins-theme.scss";

@import "../../vendor/uikit/uikit/src/scss/uikit-theme.scss";

.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: $navbar-nav-item-height;
    padding: 0 $navbar-nav-item-padding-horizontal;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Amatic SC', sans-serif;
    color: $navbar-wild-main-color;
    text-decoration: none;
}

.uk-navbar-nav > li > a:hover,
.uk-navbar-item:hover,
.uk-navbar-toggle:hover {
    color: $navbar-wild-main-hover;
}

/* OnClick */
.uk-navbar-nav > li > a:active {
    color: $navbar-wild-main-click;
    @if(mixin-exists(hook-navbar-nav-item-onclick)) {@include hook-navbar-nav-item-onclick();}
}

/* Active */
.uk-navbar-nav > li.uk-active > a {
    color: $navbar-wild-main-active;
    text-decoration: underline;
    @if(mixin-exists(hook-navbar-nav-item-active)) {@include hook-navbar-nav-item-active();}
}

.nav {
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #2e3136;
    color: #fff;
}

.uk-sticky-placeholder {
    height: 0 !important;
}

.top-wrap::before, .overlay-wrap::before {
    position: absolute;
    top:0;
    right:0;
    left: 0;
    bottom: 0;
    content: '';
    z-index: 1;
}

.top-wrap-height {
    height: 80vh;
    min-height: 460px;
    transition: height 0.25s;
}

.uk-subnav-pill > * > :first-child {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.04);
}

.top-container {
    z-index: 2;
}

.uk-logo img {
    height: 38px;
}

.subtitle-text {
    font-size: 1.2em;
    opacity: 0.7;
    font-weight: 300;
}

.logos-grid img {
    display: block;
    width: 60px;
    margin: 0 auto;
    filter:  grayscale(100%);
    transition: filter 0.25s;
}

.logos-grid img:hover {
    display: block;
    width: 60px;
    margin: 0 auto;
    filter:  grayscale(0);
}

.degrade {
    font-weight: bold;
    background: linear-gradient(90deg,#ff4f3b,  #d8b415);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

degrade.a:hover {
    color: $navbar-wild-main-hover;
}
