{% extends "base.html.twig" %}

{% block title %}-* WildCircus *-{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <div class="uk-container uk-container-expand">
        <section class="firstsection">
            {% include 'admin/backOfficeNavBar.html.twig' %}
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
