{% trans_default_domain 'mainNavBarPublic' %}
<li>
    <a class="{% if activePage=="main" %}uk-active{% endif %}" alt="WildCircus" href="{{ path('main')}}">
        <img data-src="{{ asset('media/logos/logo.png') }}" width="50" height="50" alt="WildCircus" uk-img>
    </a>
</li>

<li class="{% if activePage=="programme" %}uk-active{% endif %}">
    <a  href="{{ path('main')}}">Programme</a>
</li>

<li class="{% if activePage=="programme" %}uk-active{% endif %}">
    <a  href="{{ path('main')}}">Programme</a>
</li>
