<li>
    <a class="degrade {% if activePage=="main" %}uk-active{% endif %}" href="{{ path('main')}}">
        <span class="fas fa-home" uk-tooltip="Accueil"></span>
    </a>
</li>

<li class="degrade {% if activePage=="programme" %}uk-active{% endif %}">
    <a  href="{{ path('main')}}">Programme</a>
</li>

<li class="degrade {% if activePage=="contact" %}uk-active{% endif %}">
    <a  href="{{ path('main')}}">Contact</a>
</li>
