{% trans_default_domain 'mainNavBarPublic' %}
<li class="{% if  activePage=="main"%}uk-active{% endif %}">
    <a class="uk-logo" title="WildCircus" href="{{ path('main')}}">
        <span class="fas fa-home uk-margin-small-right"></span>
    </a>
</li>
