<li>
    <a class="{% if activePage=="main" %}uk-active{% endif %}" href="{{ path('main')}}">
        <span class="fas fa-home" uk-tooltip="Accueil"></span>
    </a>
</li>

<li class="{% if activePage=="programme" %}uk-active{% endif %}">
    <a  href="{{ path('programme')}}">Programme</a>
</li>

<li class="{% if activePage=="reservation" %}uk-active{% endif %}">
    <a  href="{{ path('reservations')}}">Réservations</a>
</li>

<li class="{% if activePage=="contact" %}uk-active{% endif %}">
    <a  href="{{ path('contact')}}">Contact</a>
</li>
