{% trans_default_domain 'mainNavBarPublic' %}
<li class="{% if  activePage=="main"%}uk-active{% endif %}">
    <a class="{% if activePage=="main" %}uk-active{% endif %}" href="{{ path('main')}}">
        <img data-src="{{ asset('build/images/site/bigTop.png') }}" width="50" height="50" alt="WildCircus" uk-img>
    </a>
</li>
